<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title></title>
</head>
<nav th:replace="fragments :: nav"></nav>
<h1>This is a title!!!</h1>
<p>Register here <a href="/register">REGISTER</a></p>
<body>
<form method="post">
          <div class="form-group">
             <label th:for="username">Username
                 <input class="form-control" th:field="${loginFormDTO.username}"/>
             </label>
             <p class="error" th:errors="${loginFormDTO.username}"></p>
         </div>
         <div class="form-group">
             <label>Password
                 <input class="form-control" th:field="${loginFormDTO.password}" type="password">
             </label>
             <p class="error" th:errors="${loginFormDTO.password}"></p>
         </div>
<!--         <div class="form-group">-->
<!--             <label>Verify Password-->
<!--                 <input class="form-control" th:field="${loginFormDTO.password}" type="password">-->
<!--             </label>-->
<!--             <p class="error" th:errors="${loginFormDTO.password}"></p>-->
<!--         </div>-->

         <input type="submit" class="btn btn-primary" value="Log In"/>
     </form>


</body>
</html>